.sign-in {
  width: 380px;
  text-align: center;
  margin: 0 auto;
  padding: 3% 2% 6% 2%;
  border: 1px solid #c0c0c0;
  box-shadow: 0 0 8px #333;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
  }
}